*,html,body{
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0%;
  padding: 0%;
}

body{
  background-color: var(--bodyBacco);
}

#parent{
  background-color: var(--defaultBacco);
  width: 70rem;
  height: 70rem;
  border: solid var(--defaultBorder) 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  
}

.child{
  font-size: 10rem;
  background-color: var(--orange);
  height: 11rem;
  width: 11rem;
  border-radius: 3.5rem;
  display: flex;
  margin: auto;
  margin-left: 1rem ;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center ;
}

#title{
  background-color: var(--defaultBacco);
  color: var(--bodyBacco);
  font-size: 20rem;
  display: flex;
  justify-content: center;
  border-radius: 5rem;
  border: solid var(--defaultBorder) 2rem;
  width: 140rem;
  margin: auto;
  margin-top: 2rem;
}

#buttonContainer{
  display: flex;
  justify-content: center;

}

.counter{
  font-size: 10rem;
}

.gameOver{
  color: aliceblue;
  font-size: 10rem;
}

.pickNumber, .generateCard{
  width: 50rem;
  height: 25rem;  
  margin-top: 5rem;
  margin-right: 5rem;
  margin-left : 5rem;
  font-size: 8rem;
  color: var(--bodyBacco);
  background-color: var(--defaultBacco);
  border-radius: 1rem;
  border: solid var(--defaultBorder) 2rem;
  transition: 0.5s;
  
}

.pickNumber:hover, .generateCard:hover{
 transform: scale(1.15,1.15 );
}
