*,html,body{
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0%;
  padding: 0%;
}

body{
  background-color: #fbffff;
}

#parent{
  background-color: #102056;
  width: 70rem;
  height: 70rem;
  border: solid #f6550b 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  
}

#title{
  background-color: #102056;
  color: #fbffff;
  font-size: 30rem;
  display: flex;
  justify-content: center;
  border-radius: 5rem;
  width: 150rem;
  margin: auto;
  margin-top: 2rem;
}

.child{
  font-size: 5rem;
  background-color: aquamarine;
}