:root{
    /* Colors */
    --orange: #f6550b;
    --darkBlue: #102056;
  
    /* Intentions */
   --defaultBacco: #102056;
   --defaultBorder: #f6550b;
   --bodyBacco: #fbffff; 
    
     
    /* Typing and Font-Sizes */
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
    --h6: 1rem;
  }
  
  
  
  
  